services:
  nginx:
    image: nginx:latest
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend

  backend:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    volumes:
      - ./backend:/var/www
    working_dir: /var/www
    command: php-fpm
    depends_on:
      - mysql

  frontend:
    image: node:20
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev -- --host"

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: Htrkao4415
      MYSQL_DATABASE: programing_db
      MYSQL_USER: user
      MYSQL_PASSWORD: HkyTR1539
    ports:
      - "3307:3306"
    volumes:
      - dbdata:/var/lib/mysql

volumes:
  dbdata:
